body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.App {
	background-image: url('/gradient.jpg');
	background-size: cover;
	position: fixed;
	inset: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fefefe;
	border: #ffffff;
	border-radius: 16px;
	padding: 32px;
	gap: 16px;
	max-width: 100%;
	width: 800px;
	/* A couple of tailwind style box shadows */
	box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.25),
		0px 25px 50px -12px rgba(0, 0, 0, 0.25),
		0px 10px 30px -12px rgba(0, 0, 0, 0.12);
}

.code-samples {
	display: flex;
	flex-direction: row;
	gap: 16px;
	width: 100%;
}

.code-samples-divider {
	height: 100%;
	width: 1px;
	background-color: #ccc;
}

.code-sample {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.code-editor {
	padding: 16px;
	margin: 0px;
	font-size: 14px;
	min-height: 200px;
	border-radius: 4px;
	overflow: hidden;
}

.code-sample-label {
	font-size: 20px;
	font-weight: bold;
	color: red;
	width: 100%;
	text-align: center;
}

@media (max-width: 760px) {
	.text-container {
		width: 100%;
	}

	.code-samples {
		flex-direction: column;
		gap: 32px;
	}

	.code-samples {
		width: 100%;
	}

	.code-samples-divider {
		width: 100%;
		height: 1px;
		background-color: #ccc;
	}
}
